<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
<link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>About Us</h1>
    <p>This project aims to translate Indian Sign Language using Deep Learning Techniques.</p>
    <p>Team Members:</p>
    <ul>
        <li>A Sumaira Tanzeel</li>
        <li>K Sravya</li>
        <li>V Venkata Sai Kumar</li>
        <li>C Sai Charan Teja</li>
    </ul>
    <a href="/">Back to Home</a>

    <footer >
        <p>Developed By SRIT Batch-9 CSM-B(2021-2025)</p>
    </footer>
</body>
</html>
