<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indian Sign Language Translation</title>
<link rel="stylesheet" href="/static/styles.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <h1>Indian Sign Language Translation</h1>
    <div class="options">
        <button onclick="location.href='/voice_to_text'">Voice to Text</button> <br>
        <button onclick="location.href='/voice_to_sign'">Voice to Sign</button> <br>
         <button onclick="location.href='/text_to_sign'">Text to Sign</button><br>
         <button onclick="location.href='/image_to_sign'">Image to Text</button> <br>
    </div>


    <footer >
        <p>Developed By SRIT Batch-9 CSM-B(2021-2025)</p>
    </footer>
</body>
</html>
